.wish-container{
  background: url('../../assets/images/abrazo.jpg') no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
}
.no-wish{
  padding: 50px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
}
.no-wish h1{
  font-weight: 900;
  font-size: 2.5em;
  color: #2ECC71;
  letter-spacing: 1px;
  margin: 20px 0;
}
.no-wish h2{
  font-size: 1.8em;
  font-weight: 300;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 
  1px 1px 1px rgba(0,0,0,.5), 
  3px 1px 2px rgba(28,110,164,0), 
  3px 1px 2px rgba(28,110,164,0);
}

/* WISH cards */
.wish-card{
  background: #2ECC71;
}
.fa-trash-alt{
  color: #FFF;
}
/* ADD WISH */
.wrap-login100-form-btn {
  width: 40%;
}
input{
  color: #FFF;
  text-align: center;
  font-size: 1.3em;
}