<h2>Bienvenid@ a tu lista de deseos</h2>
<h4>Aquí podrás anotar todas tus plantas soñadas y, quién sabe, quizás algún día se planten en tu casa</h4>
<div *ngIf="!wishes">
  <h3>Aún no tienes ninguna nueva adquisición en mente?<br>Venga, seguro que algo habrá, una palmera, un limonero...</h3>
</div>
<div *ngIf="wishes">
  <h3>Anota</h3>
  <ul *ngFor="let w of wish">
    <li>{{w.text}}</li>
    <button (click)="deleteWish(w._id)">Eliminar</button>
  </ul>
</div>

<input type="text" [(ngModel)]="newWish.text" name="text" placeholder="Tu deseo"/>
<button (click)="submitWish()">Añadir</button>