.wish-container{
  background: url('../../assets/images/abrazo.jpg') no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
.container{
  padding-top: 90px;
}
.no-wish{
  padding-bottom: 50px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
}
.no-wish h1{
  font-weight: 900;
  font-size: 2.5em;
  color: #2ECC71;
  letter-spacing: 1px;
  margin: 20px 0;
}
.no-wish h2{
  font-size: 1.8em;
  font-weight: 300;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 
  1px 1px 1px rgba(0,0,0,.5), 
  3px 1px 2px rgba(28,110,164,0), 
  3px 1px 2px rgba(28,110,164,0);
}

/* WISH cards */
.wish-card{
  background: rgba(46, 204, 113, 0.878);
  padding: 40px;
  color: #FFF;
  border-radius: 40px 0;
  margin-bottom: 30px;
}
.wish-card h3{
  font-weight: 900;
  margin-bottom: 25px;
}
.wish-card h4{
  font-weight: 300;
  line-height: 1.2em;
}
.zmdi-mood{
  margin-right: 10px;
}
ul{
  margin-top: 12px;
}
li{
  float: left;
  margin-right: 10px;
}
.fa-trash-alt{
  color: #FFF;
}
/* ADD WISH */
.add-wish-container{
  margin: 10px 0 40px 0;
}
.wrap-login100-form-btn {
  width: 40%;
}
input{
  color: #FFF;
  text-align: center;
  font-size: 1.3em;
}

@media (max-width: 768px){
  .container {
    max-width: 90%;
  }
}
@media (max-width: 698px){
  .wish-container{
    padding-bottom: 100px;
  }
  .container {
    padding-top: 60px;
  }
  .no-wish h1 {
    font-size: 2em;
  }
  .no-wish h2{
    font-size: 1.3em;
    width: 80%;
    margin: 0 auto;
  }
  .wish-card h4{
    font-size: 1.1em;
  }
  .add-wish-container{
    width: 80%;
    margin: 20px auto 0 auto;
  }
  .wrap-login100-form-btn{
    width: 75%;
  }
}
@media (max-width: 400px){
  .wish-card h3{
    font-size: 1.1em;
  }
  .wish-card h4{
    font-size: 1em;
  }
  .wrap-login100-form-btn{
    width: 90%;
  }
  .login100-form-btn {
    font-size: .8em;
  }
}