.b-green{
  color:#2ECC71;
}
.b-white{
  color: #FFF;
}

/* MEnu */
.navbar-brand{
  font-weight: 900;
  font-size: 1.5em;
  color: rgba(88, 59, 45, 0.58);
  letter-spacing: 1px;
  padding: 0;
}
nav{
  background: #FFF;
  border: 0;
  box-shadow: none;
}
nav i, nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
  line-height: 32px;
}
.navbar{
  /* position: fixed; */
  padding: 0 20px 0 30px;
}
.navbar-toogler{
  padding: 0;
}

.nav-link{
  display: inline-block;
  color: #283747;
  font-weight: 400;
  padding-left: 5px; 
}
.nav-link:hover, .nav-link:active{
  color: #2ECC71;
  background: none;
}
.navbar-collapse{
  justify-content: flex-end;
  z-index: 2;
}
button:focus{background: none}
nav ul{
  margin-right: 13px;
}
nav ul li{
  float: right;
  text-align: right;
}
.nav-link{
  padding: 0 0 6px 0;
}

/* Notifications */
.simple-notification.info{
  /* background: #2ECC71 !important; */
  background: -webkit-linear-gradient(left, #2ECC71, #26A69A)!important;
  background-image: -webkit-linear-gradient(left, rgb(46, 204, 113), rgb(38, 166, 154))!important;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;;
}

/* Input */
.input-field{
margin-top: 36px;
}

input:after, 
input:not([type]):focus:not([readonly]), 
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly])
input[type=date]:not(.browser-default):focus:not([readonly])
{
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  
  border-bottom: 2px solid -webkit-linear-gradient(left, #2ECC71, #26A69A);
  -webkit-box-shadow: 0 2px 0 0 #26a69a;
  box-shadow: 0 2px 0 0 #26a69a;
}
.input-field>label{
  font-size: 1em;
}
.input-field>label:not(.label-icon).active {
  -webkit-transform: translateY(-18px) scale(0.85);
  transform: translateY(-18px) scale(.85)
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #283747;
  width: 100%;
  min-height: 100vh;
  background: url('./assets/images/bg.gif') no-repeat;
  background-size: cover;
 }
button{
  cursor: pointer;
}

footer{
  z-index: 2;
  width: 100%;
  background: #283747;
  color: white;
  text-align: center;
  font-size: .8em;
  font-weight: 300;
  padding: 10px 30px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
footer i{
  color: white;
  font-size: 1.2em;
  margin-left: 9px;
}

@media (max-width:991px){
  .nav-item{
    height: 36px;
  }
}