<div *ngIf="!plants">
  <p>Empieza a cuidar tus plantas</p>
  <div class="plant-card new-plant">
    <div class="img-card-container">
      <img src="../../assets/images/default.png" alt="plantita">
    </div>
    <button class="plus-btn" button type="button" data-toggle="modal" data-target="#exampleModal">+</button>
    <p class="plus-txt">Añade una nueva planta</p>
  </div>
</div>

<simple-notifications></simple-notifications>

<div *ngIf="plants">
  <div class="container cards-container">
    <div *ngFor="let plant of plants" class="plant-card">
      <div class="img-card-container">
        <img [src]="plant.image" alt="{{plant.name}}">
      </div>
      <div class="info-card-container">
        <h4>{{plant.name}}</h4>
        <p><i class="fas fa-tint"></i> Cada {{plant.waterTimes}} días</p>
        <p class="see-plant"><a [routerLink]="['plants',plant._id]"><i class="zmdi zmdi-flower-alt"></i> + INFO</a></p>
      </div>
    </div>
    <div class="plant-card new-plant">
      <div class="img-card-container">
        <img src="../../assets/images/default.png" alt="plantita">
      </div>
      <button class="plus-btn" button type="button" data-toggle="modal" data-target="#exampleModal">+</button>
      <p class="plus-txt">Añade una nueva planta</p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="validate-form">
        <div class="input-field">
          <input type="text" [(ngModel)]="newPlant.name" name="name" />
          <label class="focus-input100">Nombre</label>
        </div>
        <div class="input-field">
          <input type="text" [(ngModel)]="newPlant.light" name="light" />
          <label class="focus-input100">Cuánta luz necesita?</label>
        </div>
        <div class="input-field">
          <input type="text" [(ngModel)]="newPlant.room" name="room" />
          <label class="focus-input100">En qué habitación vive?</label>
        </div>
        <div class="input-field">
          <input type="number" [(ngModel)]="newPlant.waterTimes" name="waterTimes" />
          <label class="focus-input100">Cada cuántos días se debe regar?</label>
        </div>
        <div class="input-field">
          <input type="date" [(ngModel)]="newPlant.lastWater" name="lastWater" />
          <label class="focus-input100 date-label">Cuándo la regaste por última vez?</label>
        </div>
        <div class="input-field">
          <input type="text" [(ngModel)]="newPlant.transplant" name="transplant" />
          <label class="focus-input100">En qué meses hay que trasplantarla?</label>
        </div>
        <div class="wrap-input-file">
          <input class="input100" type="file" name="file" ng2FileSelect [uploader]="uploader" />
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="button" (click)="addPlant(newPlant)" class="login100-form-btn" data-dismiss="modal"> Tienes una nueva habitante </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>