/* My plants Cards */
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 100px 0;
}
.plant-card{
  width: 30%;
  margin: 10px 1.6%;
  border-radius: 6px;
  background: #FFF;
  /* border: 1px solid #ccc; */
  -webkit-box-shadow: 5px 5px 34px -15px rgba(40,55,71,1);
  -moz-box-shadow: 5px 5px 34px -15px rgba(40,55,71,1);
  box-shadow: 5px 5px 34px -15px rgba(40,55,71,1);
}
.img-card-container img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}
.info-card-container{
  padding: 20px;
}
.info-card-container h4{
  font-weight: 900;
  text-transform: capitalize;
}

.fa-tint{
  margin: 10px 5px 0 0;
  color: #2ECC71;
}

/* Add new plant card */
.new-plant{
  opacity: .8;
}
.new-plant img{
  opacity: .5;
}
.plus-btn{
  font-size: 2em;
  width: 50px;
  height: 50px;
  background: #2ECC71;
  color: #FFF;
  border-radius: 50%;
  position: relative;
  bottom: 17px;
  margin-left: -25px;
  left: 50%;
}
.plus-btn:hover, .plus-btn:active{
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: -webkit-linear-gradient(left, #2ECC71, #26A69A);
}

.plus-txt{
  font-size: .8em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

/* from Modal */
.modal{
  max-height: 95vh;
  padding: 0;
}
.modal-content{
  position: static;
  display: -ms-flexbox;
   /* display: flex; */ 
  /* -ms-flex-direction: column; */
  /* flex-direction: column; */
  /* width: 100%; */
  pointer-events: auto;
  /* background-color: #fff; */
  /* background-clip: padding-box; */
  /* border: 1px solid rgba(0,0,0,.2); */
  /* border-radius: .3rem; */
  /* outline: 0; */
}
.input-field {
  margin-top: 27px;
}