<form class="login100-form validate-form home-form">
  <h2 class="login100-form-title"> Sign up </h2>
  <div class="input-field">
    <input [(ngModel)]="username" name="username" type="text">
    <label class="focus-input100">Ussername</label>
  </div>
  <div class="input-field validate-input" data-validate="Password">
    <span class="btn-show-pass">
      <i class="zmdi zmdi-eye"></i>
    </span>
    <input [(ngModel)]="password" name="password" type="text">
    <label class="focus-input100">Contraseña</label>
  </div>
  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button (click)="signup(username,password)" class="login100-form-btn">Sign up</button>
    </div>
  </div>
</form>