.app{
  padding: 5px;
  margin-top: 25vh;
  text-align: center;
} 
.app h1{  
  font-weight: 900;
  letter-spacing: 2px;
  color: #2ecc71;
  font-size: 3.5em; 
  animation-name: claim;
  animation-duration: 5s; 
  /* font-weight: 300;
  color: #6a7dfe;
  font-size: 3em; */
}
@-webkit-keyframes claim {
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}

.zmdi-chevron-down{
  color: white;
  position: absolute;
  bottom: 10vh;
  font-size: 66px;
  right: 50%;
  margin-right: -16px;
  animation-name: arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes arrow {
  0% { bottom: 10vh; }
  5% { bottom: 10.1vh; }
  10% { bottom: 10.2vh; }
  15% { bottom: 10.3vh; }
  20% { bottom: 10.4vh; }
  25% { bottom: 10.5vh; }
  30% { bottom: 10.6vh; }
  35% { bottom: 10.7vh; }
  40% { bottom: 10.8vh; }
  45% { bottom: 10.9vh; }
  50% { bottom: 11vh; }
}

/* HOME explanation */
.what-is{
  background: white;
  position: absolute;
  top: 95%;
  width: 100%;
  padding: 50px 0 100px 0;
}
.what-container{
  display: flex;
  justify-content: space-around;
}
.what-info{
  text-align: center;
  color: #2ECC71;
  font-weight: 800;
  width: 25%;
}
.what-info img{
  width: 90px;
  opacity: .7;
  margin-bottom: 20px;
}