<div class="app">
  <h1>La app para amantes de las plantas</h1>
</div>
<i class="zmdi zmdi-chevron-down"></i>
<div class="what-is">
  <div class="what-claim">
    <h3 class="text-center">Plantastic te ayuda a llevar un registro de tus plantas, cuidarlas y mimarlas como se merecen</h3>
  </div>
  <div class="container what-container">
    <div class="what-info">
      <img src="../assets/images/notification.png" alt="Notificaciones">
      <p>Recibe notificaciones cuando te toque regar alguna de tus plantas</p>
    </div>
    <div class="what-info">
      <img src="../assets/images/garden.png" alt="música para regar">
      <p>Consigue acceso gratuito a la playlist "Música para regar"</p>
    </div>
    <div class="what-info">
      <img src="../assets/images/list.png" alt="lista de deseos">
      <p>Anota en tu wishlist las plantas que quieras adquirir</p>
    </div>
  </div>
</div>