<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 *ngIf="!sessionService.user" >Welcome to {{ title }}!</h1>
  <h1 *ngIf="sessionService.user" >Welcome {{ sessionService.user.username }}!</h1>
</div>

<!-- <nav class="nav nav-pills nav-justified">
    <a class="nav-link active" href="#">Active</a>
    <a class="nav-link" href="#">Longer nav link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#">Disabled</a>
  </nav> -->
<ul>
  <li><a [routerLink]="['/']">HOME</a></li>
  <li *ngIf="!sessionService.user"><a [routerLink]="['/signup']">Signup</a></li>
  <li *ngIf="!sessionService.user"><a [routerLink]="['/login']">Login</a></li>
  <li *ngIf="sessionService.user"><a [routerLink]="['/profile']">My plants</a></li>
  <li *ngIf="sessionService.user"><a [routerLink]="['/profile/wishlist']">My wishlist</a></li>
  <li *ngIf="sessionService.user"><a href="#" (click)="logout()">Logout</a></li>
</ul>

<router-outlet></router-outlet>
