<div>
  <!-- <img [src]="plant.image" alt=""> -->
</div>
<div *ngIf="plant">
  <p>Nombre: {{plant.name}}</p>
  <p>Nacimiento: {{plant.birth}}</p>
  <p>Luz: {{plant.light}}</p>
  <p>Habitación: {{plant.room}}</p>
  <div>
    <h2>Fechas importantes</h2>
    <p>Riego: Cada {{plant.waterTimes}} días</p>
    <p>Último riego: {{plant.lastWater}}</p>
    <p>Próximo riego: {{plant.nextWater}}</p>
    <p>Abonar: {{plant.fertilize}}</p>
    <p>Trasplantar: {{plant.transplant}}</p>
  </div>
</div>

<app-tips [plant]="plantId"></app-tips>

<a [routerLink]="['/profile']">Back</a>